[submodule "binutils-gdb"]
	path = binutils-gdb
	url = https://gitlab.redox-os.org/redox-os/binutils-gdb.git
	branch = master
[submodule "newlib"]
	path = newlib
	url = https://gitlab.redox-os.org/redox-os/newlib.git
	branch = redox
[submodule "gcc"]
	path = gcc
	url = https://gitlab.redox-os.org/redox-os/gcc.git
	branch = redox
[submodule "relibc"]
	path = relibc
	url = https://gitlab.redox-os.org/redox-os/relibc/
