[submodule "binutils-gdb"]
	path = binutils-gdb
	url = https://github.com/redox-os/binutils-gdb.git
	branch = master
[submodule "newlib"]
	path = newlib
	url = https://github.com/redox-os/newlib.git
	branch = redox
[submodule "gcc"]
	path = gcc
	url = https://github.com/redox-os/gcc.git
	branch = redox
[submodule "artifacts"]
	path = artifacts
	url = https://github.com/redox-os/libc-artifacts.git
	branch = master
[submodule "rust"]
	path = rust
	url = https://github.com/redox-os/rust.git
	branch = master
